body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  background: url('./assets/hero_img.jpeg') 50% 100% no-repeat;
  width: 1440px;
  height: 652px;
}

main > nav {
  display: flex;
  position: relative;
  top: 83px;
  height: 36px;
  width: 980px;
  background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA9QAAAAkCAMAAABfcIIyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHVQTFRFAAAA%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F5YtmQAAAACd0Uk5TAAECAwQFBgcICQoLDA0ODxAREhMUFRYXGBkaGxwdHh8gISIjJCUmZiD6WAAAAdlJREFUeF7t3btuFEEQheFzunotGYkIERA4spn3fyeHiAgEEtsXB82s2eEJavR%2F0Wjyo75XWfHpw4MkSXNqCkA2lr2%2B%2Fvz63n15qpI0x5yTSAM52XaxJLVXf%2FkoaY6xQk2sgXy8Ql2KJf3wS5HG6HMMQg3kZNkuxVGKNLxJo48%2BxhxTpBrIx7JcXEqUKJI3zd77CjWLaiAle4U6Iixv6q33MfocTL%2BBlCy7OEqJqCFvs%2FV2m3%2BTaiAd6zb7rlHtrbc1VA%2Bm30BSa%2B%2B7RNSo4a21thbVTL%2BBnCy7rCV1rdXbtbXW%2B%2Bh%2Ft78BZLM2v6NE1Fov%2FrpC3Zl%2BA2l5H6lrrRe%2FXNu%2BqCbUQE57qGvsoW5t9D4H028gJculOKLUWuvFz%2B16O9NipAZSsm8nWpfq53ZlTQ3k9s%2BamlADZ0CogZMh1MDJEGrgZAg1cDL%2Fh5ojLSC1%2ByMtLp8A2R0un3BNFEjv%2FpooDzqA9O4fdPD0Esju8PSSIglAdsciCZQzArI7lDOat30yCg8CGe2FB1eovZcI7oMSwUBSq0TwWlQHxfyBEzgW86ftDpDase0ODfKA7A4N8mhlC2R318r2px%2BeQqLpPJDae9P5%2FmrVz491%2FWekBlKy7PXVfn9rb9xXsMD2wdOcAAAAAElFTkSuQmCC')
      no-repeat 50% 50%,
    linear-gradient(#808080 0, #707070 50%, #5e5e5e 50%, #666 100%);

  border-radius: 4px;
  box-shadow: rgb(0 0 0 / 30%) 0 1px 2px;
}

main > nav > ul {
  display: flex;
  flex-grow: 1;
  height: 100%;
}

main > nav > ul > li {
  display: flex;
  flex-grow: 1;
  width: auto;
  cursor: grab;
}

main > nav > ul > li:nth-child(1) {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

main > nav > ul > li:hover {
  background: rgb(69, 69, 69);
}

main > nav > ul > li > a,
main > nav > ul > li > a > span {
  display: flex;
  flex-grow: 1;
}

#apple {
  background: url('./assets/nav_bar_sprite.svg') 45% -1%;
}

#store {
  background: url('./assets/nav_bar_sprite.svg') 45% 13.1%;
}

#mac {
  background: url('./assets/nav_bar_sprite.svg') 45% 27.7%;
}

#ipod {
  background: url('./assets/nav_bar_sprite.svg') 45% 42%;
}

#iphone {
  background: url('./assets/nav_bar_sprite.svg') 45% 56.8%;
}

#ipad {
  background: url('./assets/nav_bar_sprite.svg') 45% 71.8%;
}

#itunes {
  background: url('./assets/nav_bar_sprite.svg') 45% 86.3%;
}

#support {
  background: url('./assets/nav_bar_sprite.svg') 45% 101.2%;
}

.fa-search {
  position: relative;
  top: 1px;
  margin-right: 3px;
}

#search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
}

#input-container {
  display: flex;
  align-items: center;
  height: 60%;
  margin: 0 5px;
  padding: 0 5px;
  border: 0 none;
  box-shadow: rgb(0 0 0 / 60%) 0 2px 1px inset, rgb(255 255 255 / 20%) 0 1px 0;
  font-size: 0.7em;
  border-radius: 1em;
  transition: 0.5s;
  color: white;
}

#input-container:focus-within {
  color: black;
  background: white;
}

#input-container > input {
  box-sizing: border-box;
  width: 91px;
  transition: 0.3s linear;
  background: none;
  border: none;
}

#input-container > input:focus {
  width: 155px;
  text-indent: 0.5em;
  outline: none;
}

main > header {
  position: absolute;
  margin-top: -170px;
  padding: 50px 0;
  top: 50%;
  display: flex;
  flex-direction: column;
  height: 335px;
}

main > header > img:nth-child(1) {
  position: relative;
  top: -5px;
  object-position: 0 5px;
}

main > header > img:nth-child(3) {
  position: relative;
  object-position: 0 30px;
}

aside > ul {
  box-sizing: border-box;
  display: flex;
  width: 1440px;
  height: 200px;
}

aside > ul > li {
  box-sizing: border-box;
  width: 360px;
  height: 200px;
  overflow: hidden;
  border-top: 2px solid white;
}

aside > ul > li:nth-child(2) {
  border-left: 2px solid white;
  border-right: 1px solid white;
}

aside > ul > li:nth-child(3) {
  border-right: 2px solid white;
  border-left: 1px solid white;
}

aside > ul > li > img {
  width: 360px;
  height: 200px;
}

footer {
  box-sizing: border-box;
  width: 980px;
  height: 90px;
  padding-top: 25px;
  color: #6e6e6e;
  font-size: 10px;
  font-family: 'Lucida Grande';
}

#top-footer {
  display: flex;
  justify-content: space-between;
}

#left-footer > a,
#right-footer > ol > li,
#bottom-footer > ol > li > a {
  color: #08c;
}

#left-footer > a:hover,
#right-footer > ol > li:hover,
#bottom-footer > ol > li > a:hover {
  text-decoration: underline;
}

#right-footer > ol {
  display: flex;
}

#right-footer > ol > li {
  padding: 0 3px;
}

#right-footer > ol > li:nth-child(-n + 6) {
  border-right: 1px solid black;
}

#bottom-footer {
  display: flex;
  padding-top: 1.5em;
}

#bottom-footer > ol {
  display: flex;
}

#bottom-footer > ol > li {
  padding: 0 3px;
}
